@use '../custom' as *;
@use '../components/mixins' as *;
@font-face {
    font-family: "sans";
  src: url("../fonts/OpenSans-Light.ttf");
  
  font-weight: 300;
  font-display: swap;
  
  font-style: normal;
}

@font-face {
    font-family: "sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  
  font-weight: 400;
  font-display: swap;
  
  font-style: normal;
}
@font-face {
    font-family: "sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  
  font-weight: 700;
  font-display: swap;
  
  font-style: normal;
}
@font-face {
    font-family: "sans";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  
  font-weight: 800;
  font-display: swap;
  
  font-style: normal;
}
button{
    font-weight: 700;
font-size: 16px;
line-height: 100%;
}
.rotate{
    transform: rotate(180deg);
}
.first-nav__phone:hover:not(:focus):not(:active)  svg > path{

fill: #FFBD59;
}
.first-nav__phone:hover:not(:focus):not(:active)  {
    color: #FFBD59;
   
    }

.first-nav__phone:focus:not(:hover):not(:active){
    background-color: #FFF5D1;
}
.first-nav__phone:active svg > path{
    
    fill: #BB370E;
}
.first-nav__phone:active{
    color: #BB370E;
}
.second-nav__svg{
    cursor: pointer;
}
.second-nav__svg-div{
position: relative;
}
.second-nav__svg:hover:not(:focus):not(:active) > path{
    fill: $purple-light;
   
   
    }
    .second-nav__svg:focus:not(:hover):not(:active)> path {
      
        fill: white;
       
        }
        .second-nav__svg-div:focus:not(:hover):not(:active){
           
            background-color: $purple-light;
           
            }
        .second-nav__svg:active > path{
            fill: $purple-deep;
        }
.pag-clr{
    background-color: $primary;
    color:white!important;
}

.inCat{
    a{
        color: $purple-deep;
       
       
    }
    a:hover:not(:focus):not(:active){
        text-decoration: underline;
        text-decoration-color:$primary ;

    }
   
    a:active{
        text-decoration: underline;
        text-decoration-color:$purple-deep ;
        color:$purple-deep ;
    }
    display: flex;
    align-items: flex-end;
   
    text-decoration: none;
    svg{
        margin-left: 5px;
    }
  
}
.just-validate-success-field{
    outline: 1px solid #B8EC64!important;
}
.is-invalid{
    outline: 1px solid red!important;
  }
  .field{
    position: relative;
  }
  .just-validate-error-label{
    position: absolute;
    top:-100px;
    left:15px;
  }
section{
    margin-bottom: 70px;
}
.btn{
    background-color: $primary;
    
}
.btn-buy:hover:not(:focus):not(:active){
    background-color: $purple-light!important;
    outline: none!important;
    color:white!important;
}
.btn-buy:focus:not(:hover):not(:active){
    border-color: $primary!important;
    background-color:#A65CF0!important;
    color:white!important;
}
.btn-buy:active{
    background-color: $purple-dark!important;
    color:white!important;
}
.btn-buy{
    // padding: 19px 35px;
    width: 129px;
    padding: 19px !important;
    color: $primary;
    background-color:transparent;
    border-radius: 10px;
    outline: 2px solid $primary;
    border: none;
}
.input-effect:hover:not(:focus):not(:active){
    background-color: #EAEAEA!important;
    
}
.input-effect:focus:not(:hover):not(:active){
    outline:1px solid $primary!important;
    background-color:#F8EFFF!important;
    
}
.input-effect-2:hover:not(:focus):not(:active){
    outline-color:$primary ;
    
}
.input-effect-2:focus:not(:hover):not(:active){
    outline-color:$primary ;
    background-color:$pink!important;
    
}
.input-effect-2:active{
    outline-color:$purple-deep ;
    
}
.btn-custom{
    background-color: $primary;
    height: 58px;
    border-radius: 10px;
    color: white!important;
    border: none;
}
.btn-custom:hover:not(:focus):not(:active){
    background-color: $purple-light!important;
    outline: none!important;
    color:white!important;
}
.btn-custom:focus:not(:hover):not(:active){
    border-color: $primary!important;
    background-color:#A65CF0!important;
    color:white!important;
}
.btn-custom:active{
    background-color: $purple-dark!important;
    color:white!important;
}
svg.rotation{
    transition:all 0.5s ease-in-out;
    transform: rotate(180deg);
}
.hidden{
    position: absolute!important;
    visibility: hidden;
    
}
.svg-effect:hover:not(:focus):not(:active) > path{
    
   
        stroke: white;
    
   
}
.svg-effect:hover:not(:focus):not(:active){
    fill:$primary;
    .arrow{
        stroke: white;
    }
    .circle{
        stroke: $primary;
    }
}
.svg-effect:focus:not(:hover):not(:active){
    fill:$purple-light;
    .arrow{
        stroke: white;
    }
    .circle{
    stroke: $primary;
    }
}
.svg-effect:active{
    fill:$purple-deep;
    .arrow{
        stroke: white;
    }
    .circle{
    stroke: $purple-deep;
    }
}

.effect-1:hover:not(:focus):not(:active){
    background-color: #C998FB!important;
}
.effect-1:focus:not(:hover):not(:active){
    border-color: #7033AC!important;
}
.effect-1:active{
    background-color: #7033AC!important;
}
.effect-2:hover:not(:focus):not(:active){
    background-color: #A65CF0!important;
}
.effect-2:focus:not(:hover):not(:active){
    border-color: #C998FB!important;
}
.effect-2:active{
    background-color: #7033AC!important;
}
.effect-text:hover:not(:focus):not(:active){
    color: #C998FB!important;
}
.effect-text:focus:not(:hover):not(:active){
    background-color: #EBD1FF!important;
}
.effect-text:active{
    color: #7033AC!important;
}
.hidden{
    position: absolute;
    visibility: hidden;
}
body{
    background-color: white;
}
.swiper-button-disabled > path {
    stroke:grey ;
}
.caths{
    margin-bottom: 32px;
}