@use '../custom' as *;
@use '../components/mixins' as *;

.hero{
    button{
        width: 187px;
     
    }
    .swiper-slide__btn{
        position: absolute;
        visibility: hidden;
    }
    max-width: 100%;
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: 20px;
    }
    .swiper-pagination-bullet {
        width: 14px;
height: 14px;
background-color: $dark;
    }
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
      }

    .swiper-con{
        height: 400px!important;
        position: relative;
        #hero-3{
            h1{
                color:white;
            }
        }
        .hero-slide{
            @include center;
            display: flex;
            justify-content: center;
            flex-direction: column;
          
            
            h1{
                margin-bottom: 49px;
                font-size: 48px;
                line-height: 65px;
                color: $gray;
            }
            button{
                width: 187px;
                background-color: $primary;
            }
            h3{
                margin-left: 30px;
            }
            
        }
        #hero-1{
            background-image: url('../imgs/Без-имени-1 1.webp');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            
        }
        #hero-2{
            background-image: url('../imgs/Без-имени-11-1.webp');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            
        }
        #hero-3{
            background-image: url('../imgs/Без-имени-11-2.webp');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            
        }
    }
}
.special-offers{
    @include center;
    .coach-special{
    width: 48.8%!important;
}
.swiper-slide:not(.coach-special){
    width: 23.2%!important;
}
   
   .special__wrapper{
    
    li{
        //     display: grid;
        //  grid-template-columns:23.2% 48.8% 23.2%;
//         grid-template-columns: 15.417vw
//   47% 15.417vw
//  ;
    }
 
   }
    .swiper__special{
        h2{
            font-weight: 400;
font-size: 32px;
line-height: 100%;
margin-bottom: 26px;
        }
       
        &-top{
            display: flex;
            justify-content: space-between;
        }
        overflow: hidden;
        // .swiper-slide-active{
        //     // width: 32.5vw!important
        //     width: 50%!important;
        //     margin-right: 32px;
        // }
        // .swiper-slide-prev{
        //     // width: 15.416666666666668vw!important;
        //     width: 23%!important;
        //     margin-right: 32px;
        // }
        // .swiper-slide-next{
        //     // width: 15.416666666666668vw!important;
        //     width: 23%!important;
        //     margin-right: 32px;
        // }
     
        .specail-btns{
            button{
                background-color:transparent;
                border: 0;
            }
            :first-child{
                margin: 0;
                margin-right: 5px;
                
            }
          
        }
        .specail-btns-2{
            display: none;
        }
      
    }
    .special-slide{
        display: flex;
        padding: 30px;
        padding-bottom: 26px;
        justify-content: flex-end;
        position: relative;
        flex-direction: column;
        background-color: $secondary;
        border-radius: 10px;
        .special__slide-img {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 16px;
            
        }
        span{
            text-decoration: line-through;
            color: $gray;
        }
        .special__price-1{
            color:$orange;
            font-size: 18px;
line-height: 130%;
margin-bottom: 21px;

        }
        .special__price-2{
            margin-left:30px ;
            -moz-text-decoration-line: line-through;
            text-decoration-line: line-through;
            -moz-text-decoration-color: red;
        }
        button{
            color: $primary;
            padding: 0 36px;
            
        }
        h3{
            font-weight: 400;
            font-size: 24px;
line-height: 130%;
            margin-bottom: 16px;
            color:#333333;
            // padding-left: 30px;
        }
          
       
        
        height: 511px;
        .special-img{
            bottom: 229px;
            left:25%;
        }
        .special__img-2{
            position: absolute;
            right: 30px;
            bottom: 30px;
        }
        .special-tag{
            position: absolute;
            top:30px;
            left:1px;
            color: white;
            font-weight: 700;
font-size: 14px;
line-height: 19px;
text-align: center;
           
            img{
                position: relative;
            }
            p{
                position: absolute;
                top: 9px;
                left:14px;
            }
        }
     
    }
  

    
   
}
