@use '../custom' as *;
@use '../components/mixins' as *;
body{
   
}
.participate{
    @include center;
    display: flex;
    .tool-con{
        display: none;
        text-align: center;
        
    }
    form{
        display: flex;
        flex-direction: column;
        input{
            background-color: #F6F6F6;
            padding: 7px 18px;
            border: none;
            border-radius: 10px;
            width: 100%;
            font-size: 16px;
line-height: 40px;
color: $gray;
        }
      
    
        label:not(:last-child){
            margin-bottom: 70px;
         
        }
    }

    p{
        line-height: 19.07px;
        font-size: 14px;
        color:$light;
        position: relative;
        margin-bottom: 16px;
        width: 624px;
        span{
            text-align: center;
            display: block;
            max-height: 42px;
        }
        span:hover  svg{
        fill: black;
        }
    
        svg{
            position: absolute;
            bottom: 2px;
            right:120px;
            
        }
        svg:hover path{
            fill:white;
        }
       
    }
    button{
        margin-bottom: 21px;
        width: 159px;
        color: $primary;
    }
    span{
        font-size: 14px;
line-height: 19px;
        a{
            text-decoration: underline;
            color:$purple-light;
        }
      
    }
}
.field{
    height: 24px!important;

}

.participate-con{
    margin-right: 32px;
}
.agreement{
user-select: none;
span{
    position: relative;
    padding-left: 22px;
}
input{
    position: absolute;
    visibility: hidden;
    width: 14px;
    height: 14px;
}
span::before{
    content: "";
    position: absolute;
    border: 1px solid $gray;
    width: 14px;
    height: 14px;
    left:-1px;
    bottom: 2px;
    background-position:center ;
    background-repeat: no-repeat;
    border-radius: 2px;
}
input:checked + span::before{
    background-image: url('../imgs/Path 3.svg');
    background-color: $primary;
    
}
    
}
.tooltip{
    border-radius: 50%;
    
}
.tooltip:hover {
    fill:white;
    color:aqua;
     background-color: $orange;
}
.participate-img__con{
    img{
        width: 624px;
height: 383px;
    }
}
