@use '../custom' as *;
@use "../components/mixins" as *;
.cathalog{
    h2{
        font-size: 24px;
line-height: 130%;
color: #333333;
margin-bottom: 16px;
    }
}
.caths{
    // position: absolute;
    font-size: 14px;
    top:12%;
    left:16.8%;
line-height: 100%;
color: #999999;
@include center;
span:last-child{
  color: $primary;
}
}
.searchs{
   
    display: flex;
    justify-content: center;
    flex-direction: row;
    

 

.filters{
   
    margin-right: 32px;
    width: 296px;
    display: flex;
    flex-direction: column;
    color: #666 !important;;
    font-size: 16px;
line-height: 130%;
h2{
    color:#333333;
    font-size: 18px;
line-height: 130%;
font-weight: 400;
margin-bottom: 20px;
}
h4{
    margin-bottom: 10px;
}

}
   
.filters__checkbox{
      position: absolute;
      visibility: hidden;
      width: 20px;
      height: 20px;
      
  
  }
  .cath__text{
      position: relative;
      display: flex;
     
      align-items: center;
  
  }
  .cath__text::before{
     
     content: "";
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid #999999;
      display: inline-block;
      margin-right: 12px;
     
    
     
  }
  input:checked + .cath__text::before{
      background-image: url('../imgs/Path 3.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-color: $primary;
  }
  
  
  
h6{
    line-height: 20.8px;
    font-weight: 600;
    margin-bottom: 10px;
}
.filters__cath{
    margin-bottom: 22px;
}
ul{
    padding: 0;
    margin-bottom: 8px;
  
  
}
.filters__color{
    margin-bottom: 70px;
}

li:not(:last-child){
    margin-bottom: 12px!important;
 }
.filters__discount{
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    label:not(:last-child){
        margin-bottom: 17px!important;
     }
}
.filters__price{
    margin-bottom: 36px;
    width: 296px;
    h4{
        margin-bottom: 4px;
    }
   
    &-value{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      
        input[type=number] {
            margin-left: 9px;
            -moz-appearance: textfield;
          
            width: 86px;
            border: 1px solid $gray;
            text-align: start;
            padding-left: 13px;
            height: 30px;
            color: $gray;
        }
        input[type=number]:hover:not(:focus):not(:active){
            border-color: $primary;
        }
        input[type=number]:focus:not(:hover):not(:active){
           background-color: #EBD1FF;
        }
        input[type=number]:active{
            border-color: $purple-deep;
        }
    }
    &-range{
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #EAEAEA;
        input[type="range"]{
            -webkit-appearance: none;
            pointer-events: none;
            position: absolute;
            background: none!important;
            outline: none;
            width: 101%!important;
            height: 3px;

        }
        #progress{
            position: absolute;
           
            left: 25%;
            right: 25%;
            height: 100%;
            background-color: $primary;
            
        }
        input[type=range]::-moz-range-thumb{
           
            
            -webkit-appearance: none;
            pointer-events: auto;
            width: 0;
            height: 0;
            border-radius: 0;
            border-style: solid;
            background-color: transparent;
            border-width: 0 6.5px 13px 6.5px;
              padding-top:10px ;
            border-color: transparent transparent $primary transparent;
            border-radius: 2px;
        }
        
        input[type=range]::-moz-range-thumb:hover:not(:focus):not(:active){
            border-color: transparent transparent #EBD1FF transparent;
        }
        input[type=range]::-moz-range-thumb:focus:not(:hover):not(:active){
            border-color: transparent transparent $purple-light transparent;
        }
        input[type=range]::-moz-range-thumb:active{
            border-color: transparent transparent $purple-deep transparent;
        }
       
         #progress:focus:not(:hover):not(:active){
            background-color: $purple-deep ;
        }
         #progress:active{
            background-color: $purple-deep ;
        }
    }
}
.oxford{
    margin-top: 80px;
    background-color: black;
    border-radius: 10px;
    img{
        border-radius: 10px 10px 0px 0px;
        height: 190px;
    }
    h3{
        margin-bottom: 13px;
    }
    span{
        color: #D5B986;
        font-family: fairbold;
        
    }
    div{
        padding: 30px;
    }
    
}
}
 .cathalog__swiper-pagination{
    display: flex;
    flex-direction: row;
   justify-content: center;
.swiper-pagination-bullet{
    background-color: #fff;
    width: 32px;
    height: 32px;
    border: 2px solid $primary;
    opacity: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
}
.swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
}
 .swiper-pagination-bullet:first-child::after {
     content: '1';
 }
 .swiper-pagination-bullet:nth-child(2)::after {
     content: '2';
 }
 .swiper-pagination-bullet:nth-child(3)::after {
    content: '3';
}

.swiper-pagination-bullet-active {
	background-color: $primary;
    color:white;
}
}

.cathalog-swiper{
   max-width: 952px;
    overflow: hidden;
}
.cath-card{
     display: grid;
     grid-template-columns: repeat(3,296px);
    
     grid-gap: 32px;
     margin-bottom: 32px;
    

    .card{
        position: relative;
        width: 100%!important;
       border: none;
       background-color: $secondary;
       border-radius: 10px;
       display: flex;
       align-items: start;
       flex-direction: column;
       height: 420px;
       
       padding:30px;
        
       width: 296px;
       span{
        color: $orange;
        display: flex;
        align-items: center;
        svg{
            margin-right: 6.51px;
        }
       }
       img{
        max-width: unset!important;
        cursor: pointer;
       }
       .highRating-card__img{
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex!important;
       
        width: 100%;
        height: 156px;
       }
       .show-more {
        width: 11.614583333333334vw;
     }
     h3{
        margin-bottom: 24px;
        font-weight: 400;
font-size: 24px;
line-height: 130%;
        
     }
     p{
        margin-bottom: 24px;
        color: #666666;
        font-size: 16px;
line-height: 130%;
     }
     
    }
}





.wrapper{
    position: relative;
width: 100%;
height: 100%;
z-index: 1;
display: flex;
transition-property: transform;
box-sizing: content-box;
}
.cathalog-1024{
    display: none;
}
.filters-tags{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    
    h2{
        margin-right: 17px;
        margin-bottom: 0px!important;
    }
    div{
        display: flex;
        align-items: center;
        padding: 4px 8.2px 4px 9px;
        border-radius: 3px;
        color: #666666;
        svg{
            margin-left: 9px;
            cursor: pointer;
        }
    }
    div:not(:last-child){
        margin-right: 20px;
    }
  &__cath{
    background-color: #DAFFD1;
  }
  &__price{
    background-color: #FFF5D1;
}
&__disc{
    background-color: #EBD1FF;
}
&__clr{
    background-color: #EAEAEA;
}
}