@use "../custom" as *;
@use "../components/mixins" as *;

@mixin sml {
  @media screen and (max-width: 320px) {
    @content;
  }
}
@mixin mid {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin lrg {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@include lrg {
  .caths{
 
@include lrg-center;

}
  .first-nav {
    &__container {
      flex-direction: column;
      padding: 0 !important;
      .first-nav__navcon{
        height: 50px;
        padding: 0 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
      .first-nav__navbar {
       
        
        justify-content: space-between;
        align-items: center;
        li:not(:last-child){
          margin-right:6.250vw!important
          ;
        }
      }
      .second-nav__svg-con {
        display: flex !important;
        justify-content: flex-end;
        margin: 0!important;
        div:last-child{
          margin: 0!important;
        }
      }
    }
    &__dropdown-con {
      padding: 20px 36px;
      margin: 0;
      justify-content: space-between;
      background-color: #fff;
      width: 100%;
    }
  }
  .second-nav{
    &__con{
    
    }
    @include lrg-center;
   
    .second-nav__con-logo {
      margin-right: 6.550vw!important
      ;
    }
    .second-nav__svg-con  {
      display: none !important;
    }
    ul{
      align-items: center;
    
      li:not(:last-child){
        margin-right: 4.004vw!important
        ;
      }
    }
  }
  #hero-1{
    background-image: url('../imgs/Без-имени-11(1) (1).jpg')!important;
  
    
}
#hero-2{
    background-image: url('../imgs/Без-имени-11(2) (1).jpg')!important;
  
    
}
#hero-3{
    background-image: url('../imgs/Без-имени-11(3).jpg')!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 20%!important;
    
}
  .hero-slide{
    @include lrg-center;
    
  }   .special__img-2{
    display: none;
}

  .special-offers{
    .coach-special{
  
     width: 296px!important;

  }
  .swiper-slide:not(.coach-special){
    width:  296px!important;
}
.swiper-slide:last-child{
  margin: 0px!important;
}
    @include lrg-center;
 
  }
  .special-coach{
    .special__slide-img{
      height: 35%;
      align-items: flex-start;
    }
   
  }
  .highRating__con-card:nth-child(8){
    display: none;
  }
  .highRating__con-card:nth-child(9){
    display: none;
  }
  .highRating__con-card:nth-child(7){
    display: none;
  }
  .highRating{
    @include lrg-center;

  }
  .collection{
    @include lrg-center;
    span{
      margin-top:10px
    }
   
  }
  .Cathegory{
    @include lrg-center;
    img{
      max-width: unset!important;
    }
    .Cathegory-con{
      display: grid;
          grid-template-columns: repeat(12,1fr);
          grid-template-rows: 511px 511px;
          grid-gap:32px;
          a{
            margin-top: 368px!important;
          }
    #card-1{
      grid-area: up1 ;
      grid-column: 1/9;
      grid-row: 1/2;
     
      
  }
  #card-2{
    grid-area: d2  ;
    grid-row: 2/3;
    grid-column: 5/9;
    background-position: 115% 57%;
    
 
      
  }
      
  #card-3{
    grid-area: up2  ;
    grid-column: 9/13;
    grid-row: 1/2;
    background-size:448px 296px ;
   
  }
  #card-4{
    grid-area: d1  ;
    grid-row: 2/3;
    grid-column: 1/5;
    background-position: 0 57%;
    background-size: 252px  296px ;
    
  }
  #card-5{
      grid-area: d3  ;
      grid-row: 2/3;
      grid-column: 9/13;
      background-position: -1.5rem 55%;
      background-size: 252px  296px ;
  }
}
  }
  .useful{
    @include lrg-center;
    .useful__button-con {
      align-items: flex-start;
    }
    .useful__swiper-slide{
      height: 456px!important;
      div{
        padding-top: 25px!important;
        padding-bottom: 35px!important;
        p{
          font-size: 16px!important;
line-height: 22px!important;
        }
      }
     
    }

  }
  .participate{
    @include lrg-center;
    .field:not(:last-child){
      margin-bottom: 60px!important;

    }
    .field{
      width:39.551vw ;
    }
    button{
      margin-bottom: 8px;
    }
    p{
      width:369px!important ;
      .tooltip{
        right: 289px!important;
      }
    }
    .form-control{
    
     
      
    }
    .participate-img__con{
      padding-top: 45px;
      img{
        
          width: unset!important;
  height: unset!important;
      }
  }
  }
  .footer-container{
    @include lrg-center;
  }
}
//-------------------------------------------------------------------------------
@include mid{
  .caths{
 
    @include mid-center;
    
    }
  .burger{
    display: flex;
  }
  .first-nav {
    &__container {
   
      flex-direction: column;
      padding: 0 !important;
      .first-nav__dropdown-con  {
        padding: 20px 9.375vw
        ;
  
      }
      .second-nav__svg-con {
        display: none!important;
  
      }
      .first-nav__navcon{
        height: 50px;
       @include mid-center;
      display: flex;
      
      align-items: center;
      }
      .first-nav__navbar {
       
        
        
        li:not(:last-child){
          margin-right:4.557vw
          !important
          ;
        }
      }
    }
   
  }
  .second-nav{
   
    @include mid-center;
    .second-nav__con-logo {
      margin-right: 0!important;
    }
    .second-nav{
      .second-nav__dropdown{
        
      }
    } 
    .second-nav__dropdown{
      .second-nav__dropdown-btn{
        width: 123px!important;;
      }
    }
    &__con{
      .second-nav__svg-con {
        display: flex !important;
        justify-content: flex-end;
        margin: 0!important;
        div:last-child{
          margin: 0!important;
        }
      }
      justify-content: space-between;

      ul{
        display: none!important;
      }
    }
   
 
  }
  .hero{
  
    #hero-1{
      background-image: url('../imgs/Без-имени-1 .png')!important;
      @include mid-center;
      
  }
  #hero-2{
      background-image: url('../imgs/Без-имени-11(1).png')!important;
      @include mid-center;
      
  }
  #hero-3{
      background-image: url('../imgs/Без-имени-11(2).png')!important;
      @include mid-center;
      
  }
   
  }
  .special-offers{
    @include mid-center;
   
   
   
  }
  .highRating{
    @include mid-center;

  }
  .Cathegory{
    @include mid-center;
    
    #card-1 {
      grid-area: up1;
      grid-column: 1/13!important;
      grid-row: 1/2!important;
      background-image: url("../imgs/sofa_PNG69581.webp");
  
    }
    #card-2 {
      grid-area: up2;
      grid-column: 7/13!important;
      grid-row: 2/3!important;
      background-image: url("../imgs/armchair_PNG7033 1.webp");
    
    }
  
    #card-3 {
      grid-area: d1;
      grid-row: 2/3!important;
      grid-column: 1/7!important;
      background-image: url("../imgs/bed_PNG17410 1.webp");
      h3 {
        margin-bottom: 262px;
      }
      a{
        
      }
    }
    #card-4 {
      grid-area: d2;
      grid-row: 3/4!important;
      grid-column: 1/7!important;
      background-image: url("../imgs/dresser_PNG181 1.webp");
      h3 {
        margin-bottom: 262px;
      }
      a{
        
      }
    }
    #card-5 {
      grid-area: d3;
      grid-row: 3/4!important;
      grid-column: 7/13!important;
      background-image: url("../imgs/chair_PNG6897 1.webp");
      h3 {
        margin-bottom: 262px;
      }
      a{
        
      }
    }

  }
  .useful{
    @include mid-center;
  }
  .participate{
  
    @include mid-center;
    p{
      font-size: 14px!important;
      line-height: 19px!important;
      
    
    }
    .field{
      width:52.734vw
      ;
    }

  }
  .footer-container{
    @include mid-center;
    flex-direction: column!important;
    .footer__con{
      flex-direction: row!important;
      justify-content: space-between;
      .icons{
        display: flex;
      }
    }
  }

 
}
@include sml{
  .caths{
 
    @include sml-center;
    
    }
  .first-nav{
    
    .first-nav__dropdown-con {
      flex-direction: column!important;
    }
    &__container {
      
      padding: 0 !important;
      .second-nav__con-logo {
        justify-content: center;
        margin-right: 0!important;
          font-weight: 900;
          font-size: 22px;
          display: flex!important;
          align-items: center;
          color: $primary;
          padding:  12px 0;
  
          svg {
            margin-right: 10px;
          }
      }
      .first-nav__dropdown-con {
        align-items: flex-start!important;
        padding: 12px 17px!important;
        div{
          margin-bottom: 22px;
        }
        .first-nav__dropdown-menu{
          top: 25px!important;
        }
      
      }
      
      .first-nav__navcon{
        @include center;
      }
    }
    .first-nav__navcon{
      display: none!important;
    }
  }
  .second-nav__con  {
    padding:12px 0!important ;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
    margin-bottom: 10px;
    .second-nav__con-logo{
      display: none!important;
    }
 

  }
  .second-nav{
    @include sml-center;
  }
  .second-nav__input-con{
    .second-nav__input{
      border-radius: 10px!important;
      margin-bottom: 12px;
    }
    flex-direction: column!important;
    .second-nav__dropdown{
      border-radius: 10px!important;
    }
  }
  .hero-slide{
    .btn{
      display: none;  
    }
    
  
  }
  .hero{
  
    
    .swiper-slide__btn{
      margin-top: 32px!important;
   
     position: unset!important;
     visibility: visible!important;
      width: 92.500vw!important;
      margin: 0 auto!important;
      

  
    }
    .swiper-con{
      height: 210px!important;
      
    }
    h1{
      font-size: 20px!important;
line-height: 27px!important;
margin-bottom: 93px!important;
.hero-slide{
  @include sml-center;
  .btn-custom{
    position: absolute!important;
    visibility: hidden!important;
 
}
}
    }
  }
  .special-offers{
    h2{
      font-size: 24px!important;
  line-height: 100%!important;
    }
    @include sml-center;
    .specail-btns {
      display: none!important;
      
    }
    .specail-btns-2{
      display: flex!important;
      justify-content: center;
      margin-top: 16px;
      button{
        background-color:transparent;
        border: 0;
    }
    :first-child{
        margin: 0;
        margin-right: 5px;
        
    }

    }
  }
  .highRating{
    h2{
      font-size: 24px!important;
  line-height: 100%!important;
    }
    @include sml-center;
    .highRating__con{
      display: grid;
      grid-template-columns: repeat(2,140px);
      // grid-template-columns: repeat(4,15.416666666666668vw);
      
      grid-gap: 16px!important;
      margin-bottom: 32px;
      .highRating__con-card{
        height: unset!important;
        padding: 16px!important;
        .card-text{
          margin-bottom: 16px!important;
        }
        span{
        
        }
        h3{
          font-size: 16px!important;
line-height: 130%!important;
        }
        button{
          width: 108px!important;
          padding: 12px 25px!important;
        }
     
        .highRating-card__img{
          height: 68px!important;
          
         
          img{
  max-width: 100%!important;
          }
  
         }

      }
    
     

  }
  }
  .collection{
    margin-bottom: 162px;
    position: relative;
    height: 210px!important;
    @include sml-center;
    justify-content: flex-start!important;
    padding: 30px 12px!important;
   
    h2{
      margin: 0!important;
font-size: 24px!important;
line-height: 120%!important;
span{
  font-size: 24px!important;
  line-height: 120%!important;
}

    }
    button{
      position: absolute;
      bottom:-80px;
      left:12px;
      width: 296px;
    }
  }
  .Cathegory{
    @include sml-center;
    h2{
      font-size: 24px!important;
  line-height: 100%!important;
  margin-bottom: 21px!important;
    }
    img{
      max-width: unset!important;
    }
    .Cathegory-con{
      .Category-card{
        position: relative;
        padding: 16px!important;
        ul{
          flex-direction: column!important;
        
        }
     
      }
      .Category-card:not(:first-child){
        ul{
          margin-bottom: 8px !important;
          li{
            margin: 0!important;
            font-size: 10px;
    line-height: 100%;
    
          }
          li:not(:last-child){
            margin-bottom: 4px !important;
          }
        }
    
       
        
        .cath-card__link{
          top:48px;
          visibility: hidden;
          left:5px;
          
          svg{
            visibility: visible;
            
          }
        }
      }
      
      .Category-card:first-child{
        padding:28px 30px!important;
        ul{
          flex-direction:row!important;
          margin-bottom: 10px!important;
        }
        h3{
          font-size: 24px!important;
  line-height: 33px!important;
  span{
    visibility: hidden;
    position: unset!important;
  }
  
        }
      }
      .cath-card__link{
        margin: 0!important;
        position: absolute;
        top:65px;
        visibility: hidden;
        left:50px;
        svg{
          visibility: visible;
          
        }
      }
      display: grid;
          grid-template-columns: repeat(12,1fr);
          grid-template-rows: 332px 206px 206px;
          
          column-gap:16px !important;
          column-row:32px!important;
          h3{
           
            margin: 0!important;
            font-size: 16px!important;
            line-height: 22px!important;
            span{
              visibility: hidden;
              display: inline!important;
            }
          }
          ul{
            margin: 0!important;
            
          }
       
    #card-1{
      grid-area: up1 ;
      grid-column: 1/9;
      grid-row: 1/2;
      background-position: 150% 90%;
      background-size: 125%;
      
  }
  #card-2{
    grid-area: d2  ;
    grid-row: 2/3;
    grid-column: 5/9;
    background-position: 56% 84%;
    background-size:158px 104px !important;
    
  
      
  }
      
  #card-3{
    grid-area: up2  ;
    grid-column: 9/13;
    grid-row: 1/2;
    background-position: 7% 84%;
    background-size:158px 104px !important;
   
  }
  #card-4{
    grid-area: d1  ;
    grid-row: 2/3;
    grid-column: 1/5;
    background-position: 7% 97%;
    background-size:158px 104px !important;
    
  }
  #card-5{
      grid-area: d3  ;
      grid-row: 2/3;
      grid-column: 9/13;
      background-position: -5% 84%;
      background-size:158px 104px !important;
  }
  
  }
  
  }
  .participate{
    @include sml-center;
    p{
      width: 296px!important;
      .tooltip{
        right: 65px!important;
      }
    }
    .field{
      width: 100%!important;
      
    }
    .agreement{
      font-size: 12px!important;
line-height: 16px!important;
a{
  font-size: 12px!important;
line-height: 16px!important;
}
    }

    }
    footer{
     
      .footer-container{
        @include sml-center;
        .footer__con{
          flex-direction: column!important;
         
          align-items: center!important;
          margin-bottom: 24px;
          a{
            margin-bottom: 24px!important;
          }
        }
        .footer_lists{
         flex-wrap:wrap!important;
        
         ul:nth-child(2){
          margin-right: 0!important;
          margin-bottom: 24px;
         }
         ul:nth-child(4){
          margin-right: 0!important;
         }
         ul:nth-child(1){
         margin-right: 50px!important;
         margin-bottom: 24px;
         }
         ul:nth-child(3){
         margin-right: 50px!important;
         }
        }
       
      }
    }
}
