@use '../custom' as *;

// GRADIENT MIXIN 
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION PROPERTY 
@mixin transitionProperty {
    transition-duration: 1s;
    transition-property: all;
}
@mixin center {
    padding: 0 16.7vw;
   
}
@mixin lrg-center{
    padding: 0 36px!important;
}
@mixin mid-center{
    padding: 0 9.375vw
    !important;
}
@mixin sml-center{
    padding: 0 12px!important;
}